<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.TeknoKumpas"
        tools:targetApi="31">
        <activity android:name=".login.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".directory.DirectoryActivity" />
        <activity android:name=".directory.EditLocationActivity" />
        <activity android:name=".directory.NavigationActivity" />
    </application>

</manifest>
